:root {
    --white: #FFF;
    --black: #222;
    --cream: #f6ebe1;
    --orange: #d25632;
    --teal: #086c74;
    --tomato:#F06543;
    --light-teal:#b7e0d5;
}

* {
    margin: 0;
}

html, body {
    background-color: white;
    height: 100%;
    margin: 0;
}

/*  ---------------TOP Section--------------- */
.main-header {
    position: absolute;
    top: 0;
    width: 100%;
}

.main {
    position: absolute;
}

.hero {
    height: 90vh;
    margin: 0;
    padding: 0;
}

.hero-info {
    margin-top: 225px;
}

.hero-info h1 {
    font-size: 400%;
}

.hero-info p {
    font-size: 150%;
}

.hero-info h1,
.hero-info p {
    color: var(--teal);
    text-shadow: 3px 3px 6px #2222;
}

/* Styling box is the one with the cool gradient */
.styling {
    background: radial-gradient(ellipse at top right, var(--color-1), var(--color-2) 90%);
    width: 90%;
    height:80vh;
    border-radius: 0 0 0 200px;
}

.styling-max {
    max-width: 444px;
}

/* Define a CSS class for the search icon */
.search-icon {
    font-size: 1.2rem;
}

/* Define a CSS class for the input group */
.input-group-search {
    height: 38px;
}

.donation {
    position: absolute;
    top: 10px;
    right: 20px;
}

/*  -----------------------------  */

.header-image{
    height: 90vh;
    background-size:cover;
    background-image: 
    /* url(https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQkrjYxSfSHeCEA7hkPy8e2JphDsfFHZVKqx-3t37E4XKr-AT7DML8IwtwY0TnZsUcQ); */
    url(https://res.cloudinary.com/dusaigbyn/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1683746802/karsten-winegeart-oU6KZTXhuvk-unsplash_ynehrf.jpg);
    background-position: right 50% bottom 0px;
}

/*  ---------------Transition--------------- */
.hero-showcase {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--orange);
    color: var(--white);
    text-shadow: 3px 3px 6px #2222;
}

/* ---------------Section for the showcase--------------- */
.showcase {
    background-color: var(--cream);
    height: 90vh;
}

/* Pet Header */
.pet-header {
    background-color: var(--teal);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
    color: var(--white);
}

.dropdown {
    margin-top: 20px;
}

.dropdown h4 {
    display: inline-block;
    margin-right: 10px;
}


/* Pet Info cards */

.pet-info {
    margin-bottom: 30px;
}

.pet-info img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    height: 250px;
    background: var(--color-4);
    border-radius: 125px;
}

.text-left {
    width: 250px;
    text-align: left;
}

/* ---------------Pet Profile--------------- */
.pet-profile {
    height: 100vh;
}

.bio {
    margin-top: 50px;
}

.profile {
    padding-top: 20vh;
}

/* courasel */
.circle-img {
    height: 500px;
    width: 500px;
    border-radius: 250px;
    background: var(--color-5);
}

.profile-img {
    width: 500px;
}

/* Badges */
.badge {
    width: 50px;
    height: 50px;
    background: var(--color-4);
    border-radius: 25px;
    margin-right: 10px;
}

/* Progress Bars */
.progress {
    height: 40px;
    border-radius: 20px;
}

/* ---------------Login Section--------------- */
.account-forms {
    background-color: var(--orange);
}

.login-side {
    padding-top: 30vh;
    background-color: var(--cream);
    height: 100vh;
}

.login-form {
    background-color: var(--teal);
    box-shadow: 3px 3px 6px var(--color-7);
    padding: 20px;
    color: var(--white);
}

.login-form h1 {
    text-shadow: 3px 3px 6px #2222;
}

.info-side {
    color: var(--white);
}

.info-side h2 {
    margin-bottom: 40px;
}

a {
    color: var(--light-teal);
}

/* ---------------Login Section--------------- */
.signup {
    height: 100vh;
    background-color: var(--cream);
}

/* input */
.cust-form {
    border-radius: 0px;
    background-color: var(--color-3);
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

/* ---------------Admin View Section--------------- */
.admin {
    height: 100vh;
    color: var(--orange);
}

.admin h3 {
    text-shadow: 3px 3px 6px #2222;
    margin-left: 100px;
}

.admin-content {
    padding-top: 100px;
}

#new-post {
    width: 250px;
}

.bi-envelope {
    font-size: 2rem;
}

.post-img {
    margin-left: -12px;
    height: 100px;
    width: 100px;
    background-color: var(--color-4);
}

.admin-item {
    background-color: var(--cream);
    box-shadow: 2px 2px 6px #222;
}

/* Button Styling */

.btn {
    background: var(--orange);
    border: none;
    color: var(--white);
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--tomato);
    box-shadow: 2px 2px 6px var(--tomato);
}

#donate:focus,
#donate:active,
#dropdown:focus,
#dropdown:active,
#adoptNow:focus,
#adoptNow:active {
    background-color: var(--tomato);
}

#adoptNow {
    margin-top: 30px;
    margin-bottom: 30px;
}

#login-btn {
    width: 200px;
}

.cust-trash {
    color: red;
    font-size: 150%;
}

/* Footer */
footer {
    background-color: white;
}