:root {
    --white: #FFF;
    --black: #222;
    --cream: #f6ebe1;
    --orange: #d25632;
    --teal: #086c74;
    --tomato: #F06543;
    --light-teal: #b7e0d5;
    --scroll: #D1C6BB;
}

* {
    margin: 0;
    font-family: "brandon-grotesque", Arial, sans-serif;
    font-size: 22px;
}

html,
body {
    background-color: white;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/*
-------------------------------------------------
                    Header
-------------------------------------------------
*/
.main-header {
    position: absolute;
    top: 0;
    width: 100%;
}

.main {
    position: absolute;
}

.logo-img {
    height: 50px;
    width: 50px;
}

.hero {
    height: 90vh;
    margin: 0;
    padding: 0;
}

.hero-img {
    height: auto;
    width: 40vw;
}

.hero-info {
    margin-top: 225px;
}

.hero-info h1 {
    font-size: 400%;
}

.hero-info p {
    font-size: 150%;
}

.hero-info p {
    color: var(--teal);
}

/* Styling box is the one with the cool gradient */
.styling {
    background: radial-gradient(ellipse at top right, var(--color-1), var(--color-2) 90%);
    width: 90%;
    height: 80vh;
    border-radius: 0 0 0 200px;
}

.styling-max {
    max-width: 444px;
}

/* Define a CSS class for the search icon */
.search-icon {
    font-size: 1.2rem;
}

/* Define a CSS class for the input group */
.input-group-search {
    height: 38px;
}

.donation {
    position: absolute;
    top: 20px;
    right: 100px;
}

/*  -----------------------------  */

.header-image {
    height: 90vh;
    background-size: cover;
    background-image:
        /* url(https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQkrjYxSfSHeCEA7hkPy8e2JphDsfFHZVKqx-3t37E4XKr-AT7DML8IwtwY0TnZsUcQ); */
        url(https://res.cloudinary.com/dusaigbyn/image/upload/ar_1:1,c_fill,g_auto,w_1000/v1683866440/karsten-winegeart-oU6KZTXhuvk-unsplash_teal_rsuyqd.jpg);
    background-position: right 50% bottom 0px;
}

/*
-------------------------------------------------
                Transition
-------------------------------------------------
*/
.hero-showcase {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--orange);
    color: var(--white);
    text-shadow: 3px 3px 6px #2222;
}

/*
-------------------------------------------------
                About Us
-------------------------------------------------
*/
.about-showcase {
    background-color: var(--teal);
    color: var(--white);
    text-shadow: 3px 3px 6px #2222;
}

.about-showcase .cont {
    padding: 30px;
}

.about {
    height: 80vh;
    margin: 0;
    padding: 0;

    min-height: 1000px;
}

.about-img {
    height: auto;
    width: 40vw;
}

.about-info {
    margin-top: 100px;
    margin-bottom: 55px;
    color: var(--teal);
}

.about-info h2 {
    font-size: 150%;
}

.about-info p {
    font-size: 110%;
}

.about-info p {
    color: var(--black);
}

.about-image {
    /* height: 80vh; */
    background-size: cover;
    background-image:
        /* url(https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQkrjYxSfSHeCEA7hkPy8e2JphDsfFHZVKqx-3t37E4XKr-AT7DML8IwtwY0TnZsUcQ); */
        url(https://res.cloudinary.com/dusaigbyn/image/upload/v1684118002/hannah-lim-U6nlG0Y5sfs-unsplash_blue_bckgd_yrll8i.jpg);
    background-position: right 50% bottom 0px;
}

/* 
-------------------------------------------------
                Showcase
-------------------------------------------------
*/
.showcase {
    background-color: var(--cream);
    height: auto;
}

/*responsible for the showcase container
where database elements are rendered*/

/* Pet Header */

/*  **** Pet Info cards ****  */

.pet-info {
    margin-bottom: 30px;
}

.pet-info img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    height: 250px;
    background: var(--color-4);
    border-radius: 125px;
    transition: 0.25s;
}

.pet-info img:hover {
    box-shadow: 3px 3px 6px var(--scroll);
    scale: 105%;
}

.text-left {
    width: 250px;
    text-align: left;
}

/* 
-------------------------------------------------
                Pet Profile
-------------------------------------------------
*/
.pet-profile {
    height: 100%;
    min-height: 1200px;
}

.bio {
    margin-top: 50px;
}

.profile {
    padding-top: 20vh;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text {
    text-align: center;
    margin-top: 1rem;
}

/* courasel */
.circle-img {
    height: auto;
    width: 100%;
    border-radius: 250px;
    background: var(--cream);
}

.profile-img {
    width: 100%;
}

/* Badges */
.badge {
    width: 50px;
    height: 50px;
    background: var(--light-teal);
    border-radius: 25px;
    margin-right: 10px;
}

/* Progress Bars */
.progress {
    height: 40px;
    border-radius: 20px;
    background-color: var(--cream);
}

.progress-bar {
    background-color: var(--orange);
}

/* 
-------------------------------------------------
                Login Section
-------------------------------------------------
*/
.application-forms {
    background-color: var(--orange);
}

.login-side {
    padding-top: 30vh;
    background-color: var(--cream);
    height: 100vh;
}

.login-form {
    background-color: var(--teal);
    box-shadow: 3px 3px 6px var(--color-7);
    border-radius: 50px;
    padding: 20px;
    color: var(--white);
}

.login-form h1 {
    text-shadow: 3px 3px 6px #2222;
}

.info-side {
    color: var(--white);
}

.info-side h2 {
    margin-bottom: 40px;
}

a {
    color: var(--light-teal);
}

/* 
-------------------------------------------------
                Signup Section
-------------------------------------------------
*/
.signup {
    height: auto;
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: var(--cream);
}

/* input */
.cust-form {
    border-radius: 0px;
    background-color: var(--color-3);
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

/*
-------------------------------------------------
Admin View Section
-------------------------------------------------
*/
.admin {
    height: 100vh;
    color: var(--orange);
}

.admin h3 {
    text-shadow: 3px 3px 6px #2222;
    margin-left: 100px;
}

.admin-content {
    padding-top: 100px;
}

#new-post {
    width: 250px;
}

.bi-envelope {
    font-size: 2rem;
}

.post-img {
    margin-left: -18px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.admin-item {
    padding: 0;
    background-color: var(--cream);
    box-shadow: 1px 1px 6px var(--scroll);
    height: 100px;
    border-radius: 50px;
    transition: 0.25s;
}

.admin-item:hover {
    scale: 105%;
}

.admin-container {
    margin: 0;
    height: 730px;
    overflow-y: scroll;
}


/*
-------------------------------------------------
            Admin Post Form 
-------------------------------------------------
*/

.post-form {
    background-color: var(--teal);
    color: var(--white);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50px;
}

/* Button Styling */

.btn {
    background: var(--orange);
    border: none;
    color: var(--white);
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--tomato);
    box-shadow: 2px 2px 6px var(--tomato);
}

.btn-lg:hover {
    color: var(--white);
}

#donate:focus,
#donate:active,
#dropdown:focus,
#dropdown:active,
#adoptNow:focus,
#adoptNow:active {
    background-color: var(--tomato);
}

#adoptNow {
    margin-top: 30px;
    margin-bottom: 30px;
}

#login-btn {
    width: 200px;
}

.cust-trash {
    color: var(--orange);
    font-size: 150%;
}

.cust-trash:hover {
    color: red;
}

.cust-pencil {
    font-size: 150%;
    margin-right: 10px;
    color: var(--teal);
}

.cust-pencil:hover {
    color: green;
}

/*
-------------------------------------------------
                Footer 
-------------------------------------------------
*/
footer {
    background-color: white;
}

/*----- SCROLLBAR -----*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--tomato);
}

/* 
container where everything lives/ the grid 
*/

.item {
    position: relative;
    background-color: #ccc;
    height: 200px;
    width: 200px;
}

.item img {
    max-width: 100%;
    max-height: 100%;
}

.img {
    transition: 0.25s;
}

.img:hover {
    scale: 1.15;
}

/*
-------------------------------------------------
                Footer 
-------------------------------------------------
*/

@media screen and (max-width: 450px) {

    /* Main Page */
    body {
        overflow: visible;
        min-width: 100vw;
    }

    .hero {
        height: 65vh;
    }

    .hero-img {
        width: 90vw;
    }

    .pet-info img {
        height: 125px;
        width: 125px;
    }

    .col-md-4 {
        flex: 0 0 50%;
        /* Override the width for mobile devices */
        max-width: 50%;
    }

    /* Pet Profile Page */
    .profile-img {
        width: 90vw;
        height: auto;
    }

    .circle-img {
        width: 100%;
        height: auto;
    }

    .post-form {
        border-radius: 0px;
    }

    .login-form {
        border-radius: 0px;
    }

    .signup {
        margin-top: 80px;
        padding: 0;
    }

}

@media only screen and (max-width: 768px) {

    .hero {
        width: 100%;
        height: auto;
    }

    .hero {
        display: block !important;
    }

    .hero-logo {
        content: url("https://res.cloudinary.com/dusaigbyn/image/upload/v1683762073/Paws_n_claws_logo_FINAL_v0tfd8.png");
    }

    .hero-info {
        margin-top: 88px;
    }

    .header-image {
        display: none;
    }

    .about {
        height: auto;
    }

    .about-info {
        margin: 0;
    }

    .pet-profile {
        width: 100%;
        text-align: center;
    }

    .admin {
        height: auto;
    }

    .admin-container {
        overflow: visible;
        height: auto;
    }

    .admin-content {
        height: auto;
    }

    .admin-item h3,
    .admin-item p {
        font-size: 70%;
    }

    .cust-trash,
    .cust-pencil {
        font-size: 100%;
    }

}